<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953527312077-5segi6ej5j1ipgv76ae42ui4iuo7so17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953527312077-5segi6ej5j1ipgv76ae42ui4iuo7so17</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953527312077-1kobpud8nndi3h251prq73scelm7ebq2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVEL-DnwIPri2gF6ROaGGLb0gz46ZNNMU</string>
	<key>GCM_SENDER_ID</key>
	<string>953527312077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kibayanews.app</string>
	<key>PROJECT_ID</key>
	<string>kibaya-news</string>
	<key>STORAGE_BUCKET</key>
	<string>kibaya-news.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953527312077:ios:f23ecd138ee07392a25384</string>
</dict>
</plist>